body {
    margin: 20px auto;
    font-family: 'Lato';
    background: #666;
    color: #fff;
}

h1 {
    text-align: center;
    font-family: sans-serif;
}

h2 {
    font-family: sans-serif;
    margin: 5px;
}

.close {
    content: "\00d7";
    right: 20px;
    top: 20px;
    width: 20px;
    height: 20px;
    opacity: 0.3;
}

.close:hover {
    background-color: #f44336;
    color: white;
}

.addBtn {
    background-color: DodgerBlue;
    border: none;
    color: white;
    padding: 12px 16px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 20px;
}

.addBtn:hover {
    background-color: rgb(151, 202, 253);
}

.addBtn:active {
    background-color: rgb(34, 106, 179);
    box-shadow: 0 5px #666;
    transform: translateY(4px);
}

* {
    margin: 0;
    padding: 0;
}

p {
    font-family: 'Reenie Beanie';
    font-size: 2rem;
    width: 4.13cm;
}

ul,
li {
    list-style: none;
}

ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.notes {
    text-decoration: none;
    color: #000;
    background: #ffc;
    display: block;
    height: 10em;
    width: 10em;
    padding: 1em;
    box-shadow: 5px 5px 7px rgba(33, 33, 33, .7);
    transform: rotate(-6deg);
    transition: transform .15s linear;
    font-family: 'Reenie Beanie';
    font-size: 1rem;
}

li:nth-child(even) .notes {
    transform: rotate(4deg);
    position: relative;
    top: 5px;
    background: #cfc;
}

li:nth-child(3n) .notes {
    transform: rotate(-3deg);
    position: relative;
    top: -5px;
    background: #ccf;
}

li:nth-child(5n) .notes {
    transform: rotate(5deg);
    position: relative;
    top: -10px;
}

li .notes:hover,
li .notes:focus {
    box-shadow: 10px 10px 7px rgba(0, 0, 0, .7);
    transform: scale(1.25);
    position: relative;
    z-index: 5;
}

li {
    margin: 1em;
}